body {
	padding: 5px;
}

header {
	padding: 150px 10px;
}

.lineup {
	display: inline-block;
	float: right;
	position: relative;
}

.lineup img {
	max-width: 16%;
}

.img-top {
	
}

.img-bot .who {
	position: absolute;
	z-index: 99;
	display: none;
}

.lineup:hover .img-bot .who {
	display: inline;
}

.lineup:hover:after {
	content: url(images/raindrops.gif);
	height: 5000px;
}


.main {
	display: none;
}

.reveal {
	display: none;
}





	
	