

html {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Roboto Mono', monospace;
	font-size: 2em;
	font-weight: bold;
	padding: 5px;
	background: #C0E0FF;
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding: 0px;
}

.container {
	height: 100%;
	border: 0px solid rgba(0, 46, 127, 0.5);
	box-sizing: border-box;
	overflow: auto;
}

header img {
	max-width: 45%;

}

.row1 {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.row2 {
	display: flex;
	padding-bottom: 200px;
	margin: 0px 20px;
}

.first img {
	max-width: 65%;
	padding-bottom: 150px;
	margin-left: 50px;
}

.first {
	flex: 2;
	position: relative;
}

.first:hover:after {
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: url(../images/farkas1.png);
	opacity: 1;
	z-index: 1;
}

.second p {
	text-align: left;
}

.second {
	flex: 1;
	position: relative;
	margin: 0px;
}

.second:hover:after {
	position: absolute;
	top: 0px;
	right: 0;
	content: url(../images/person.png);
	opacity: 1;
	
}

.third, .fourth, .fifth {
	margin: 0px 15px;
}

.fifth {
	position: relative;
}

.fifth:hover:after {
	position: absolute;
	content: url(../images/deadlines.png);
	right: 0;
}

footer {
	clear: right;
}

.lineup {
	display: flex;
}

.lineup img {
	max-width: 100%;
}

.who {
	position: relative;
}

.who-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.who:hover .who-bot {
	display: inline;
}

.what {
	position: relative;
}

.what-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.what:hover .what-bot {
	display: inline;
}

.where {
	position: relative;
}

.where-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.where:hover .where-bot {
	display: inline;
}

.when {
	position: relative;
}

.when-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.when:hover .when-bot {
	display: inline;
}

.why {
	position: relative;
}

.why-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.why:hover .why-bot {
	display: inline;
}

.how {
	position: relative;
}

.how-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.how:hover .how-bot {
	display: inline;
}

.lineup:hover:after {
	content: url(../images/question.gif);
}


.main {
	display: none;
}

.reveal {
	display: none;
}





	
	