body {
	padding: 5px;
	background: #CBFF52;
}

header img {
	max-width: 100%;
}

.lineup {
	display: flex;
}

.lineup img {
	max-width: 100%;
}

.who {
	position: relative;
}

.who-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.who:hover .who-bot {
	display: inline;
}

.what {
	position: relative;
}

.what-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.what:hover .what-bot {
	display: inline;
}

.where {
	position: relative;
}

.where-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.where:hover .where-bot {
	display: inline;
}

.when {
	position: relative;
}

.when-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.when:hover .when-bot {
	display: inline;
}

.why {
	position: relative;
}

.why-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.why:hover .why-bot {
	display: inline;
}

.how {
	position: relative;
}

.how-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.how:hover .how-bot {
	display: inline;
}

.lineup:hover:after {
	content: url(../images/question.gif);
	
}


.main {
	display: none;
}

.reveal {
	display: none;
}





	
	